.contenedor{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items: flex-start;
	background: blueviolet;
}
.elemento{
	width: 25%;
	line-height:4rem;
}
.elemento:first-child{
	line-height:6rem;
	background: blueviolet;
}
.elemento:nth-child(5){
	line-height:2rem;
	background-color: blue;
	color: bisque;
}
